@page "/"
@using Mapsui.Samples.Common
@using Mapsui.Samples.Common.Extensions
@using Mapsui.Extensions
@using Mapsui.Logging
@using Mapsui.UI

<PageTitle>Mapsui</PageTitle>
<h1>Hello, Mapsui!</h1>
   <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">
            Category
        </label>
        <div class="col-sm-10">
            <InputSelect id="category" @bind-Value="CategoryId" class="form-control">
                @foreach (var cat in Categories)
                {
                    <option value="@cat">@cat</option>
                }
            </InputSelect>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col border rounded p-2 canvas-container">
            <MapControl @ref="_mapControl" />
        </div>
    </div>   
</div>

@code
{
    public List<ISampleBase> Samples { get; set; } = new();

    public List<string> Categories { get; set; } = new();

    public string? CategoryId { get; set; }

    public string? SampleId { get; set; }

    public string? Title { get; set; }

    private MapControl? _mapControl;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        FillComboBoxWithCategories();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            FillMap();
        }
    }

    private void FillComboBoxWithCategories()
    {
        var categories = AllSamples.GetSamples().Select(s => s.Category).Distinct().OrderBy(c => c);
        foreach (var category in categories)
        {
            Categories.Add(category);
        }

        CategoryId = Categories[0];

        FillSamples();
    }

    private void FillSamples()
    {
        var list = AllSamples.GetSamples().Where(s => s.Category == CategoryId).OrderBy(c => c.Name);
        Samples.Clear();
        Samples.AddRange(list);
        SampleId = Samples[0].Name;

        Sample = Samples.FirstOrDefault(f => f.Name == SampleId);        
    }

    private async void FillMap()
    {
        if (Sample != null && _mapControl != null)
        {
            var sample = Sample;
            Title = sample.Name;            
            await sample.SetupAsync(_mapControl);            
        }
    }

    public ISampleBase? Sample { get; set; }
}
