@page "/"

<PageTitle>Mapsui</PageTitle>
<h1>Hello, Mapsui!</h1>
<div class="container">
    <div class="row">
         <div class="col border rounded p-2 canvas-container">
             <MapControl/>
         </div>
    </div>
</div>
