
*.xap

*.dll

*.bak

*.zip

*.bak

*.stamp

*.mdb

*.java

*.v12.suo

*.csproj.user

*.userprefs

Mapsui.Rendering.Android/obj/

Samples/Mapsui.Samples.Silverlight.Web/ClientBin

obj/

bin/

packages/

.vs/

Release/

*.ncrunchproject

*.ncrunchsolution
*.projitems
/Tests/Mapsui.Rendering.Skia.Tests/Resources/Images/Generated
*.user
*.cache
/Mapsui.Samples.Wpf.psess
/_NCrunch_Mapsui/StoredText

project.lock.json
*.nuget.props
/Tools/VersionUpdater.pdb
/Tools/VersionUpdater.exe.config
/Tools/VersionUpdater.exe
/Mapsui.UI.Forms/Images/Pin.svg.bak
/Samples/Mapsui.Samples.Uwp/AppPackages/Mapsui.Samples.Uwp_1.0.0.0_x86_Test
/Artifacts
*.appx

Samples/Mapsui.Samples.Droid/Resources/Resource.Designer.cs
Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.Android/Resources/Resource.designer.cs
/Mapsui.UI.Uno/MapControl.cs
/Mapsui.UI.Uno/ExtensionMethods/PointExtensions.cs
/Mapsui.UI.Uno/Shared/Utils/FlingTracker.cs
/Mapsui.UI.Uno/Shared/MapControl.cs
/Mapsui.UI.Uno/Shared/EventArgs/ZoomedEventArgs.cs
/Mapsui.UI.Uno/Shared/EventArgs/TouchedEventArgs.cs
/Mapsui.UI.Uno/Shared/EventArgs/TappedEventArgs.cs
/Mapsui.UI.Uno/Shared/EventArgs/SwipedEventArgs.cs
/Mapsui.UI.Uno/Shared/EventArgs/HoveredEventArgs.cs
/Mapsui.UI.Uno/Shared/Enums/ZoomDirection.cs
/Mapsui.UI.Uno/Shared/Enums/TouchMode.cs
/Mapsui.UI.Uno/Shared/Utils/PCLTimer.cs
AppPackages/
*.nupkg

.idea
.DS_Store

/Output-Build.txt
