version: '{build}'

skip_commits:
  files:
    - docs/**/*
    - docfx/**/*
    - logo/**/*
    - '**/*.md'
image: Visual Studio 2022
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
environment:
  version-short: 4.0.0  
nuget:
  disable_publish_on_pr: true
cache:
- '%USERPROFILE%\.nuget\packages -> **.sln, **.csproj'  # preserve nuget folder (packages) unless the solution or projects change
install:
- ps: Invoke-WebRequest 'https://dot.net/v1/dotnet-install.ps1' -OutFile 'dotnet-install.ps1';
- ps: ./dotnet-install.ps1 -Version 6.0.300 -InstallDir "dotnetcli"
- cmd: dotnet workload install maui macos android ios maccatalyst
- cmd: '"C:/Program Files (x86)/Android/android-sdk/tools/bin/sdkmanager.bat" "platforms;android-31"'
before_build:
- cmd: nuget restore mapsui.sln -Verbosity quiet
build:
  project: Mapsui.sln
  verbosity: minimal
before_package:
- cmd: ''
after_build:
- cmd: ''
after_test:
- cmd: Scripts\buildpack %version-short%-build.%APPVEYOR_BUILD_NUMBER%
artifacts:
- path: Artifacts\*.*
  name: mapsuipackage
deploy:
- provider: NuGet
  api_key:
    secure: RI7FmOMHYqZPtJNhuBD/dxzizoFBECO++GnXPQVBqMmIIkL4ZYCPMGGFP3hTQC2Q
  skip_symbols: true
  artifact: mapsuipackage-nu-even-niet
configuration: Release
platform: AnyCPU
