<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="1.68.2-preview.17" targetFramework="monoandroid81" />
  <package id="SkiaSharp.Views" version="1.68.2-preview.17" targetFramework="monoandroid81" />
  <package id="System.Buffers" version="4.4.0" targetFramework="monoandroid81" />
  <package id="System.Memory" version="4.5.3" targetFramework="monoandroid81" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="monoandroid81" />
</packages>