.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-row {
    background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    border-bottom: 1px solid #2a1a35;
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        color: white;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row .navbar-brand {
        color: white;
        font-weight: 600;
        margin: 0;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    article {
        flex: 1;
    }
}
