@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <span class="navbar-brand">Mapsui V5 Samples</span>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
