<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mapsui.Rendering.Xaml.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Mapsui.Rendering.XamlRendering.Tests.Rendering" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Mapsui.Rendering.Xaml.Tests.Properties.Settings>
            <setting name="WriteToDisk" serializeAs="String">
                <value>True</value>
            </setting>
        </Mapsui.Rendering.Xaml.Tests.Properties.Settings>
        <Mapsui.Rendering.XamlRendering.Tests.Rendering>
            <setting name="WriteImageToDisk" serializeAs="String">
                <value>True</value>
            </setting>
        </Mapsui.Rendering.XamlRendering.Tests.Rendering>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
