<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="1.60.3" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="1.60.3" targetFramework="xamarinios10" />
</packages>