.md-header__button.md-logo {
  align-items: center;
  background: white;
  border-radius: 50%;
  display: inline-flex;
  height: 1.35rem !important;
  justify-content: center;
  margin: 0.2rem;
  padding: 0;
  width: 1.35rem !important;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  display: block;
  height: 1.2rem !important;
  object-fit: contain;
  width: 1.2rem !important;
}
