<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lyncee.OpenTK" version="1.1.1173.43181" targetFramework="net45" />
  <package id="Lyncee.OpenTK.Compatibility" version="1.1.1173.43181" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net45" />
</packages>