name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  linuxBuild:      
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    # Cache Nugets
    - uses: actions/cache@v3
      with:
        path: ~/.nuget/packages     
        key: ${{ runner.os }}-nuget15-${{ hashFiles('Directory.Packages.props') }}
        restore-keys: |
            ${{ runner.os }}-nuget15-
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.1.1      
      with:
        nuget-version: latest    
    # .Net 7 update     
    - name: Setup .NET 8 SDK
      uses: actions/setup-dotnet@v3
      with:
         dotnet-version: |
           8.0.x
         include-prerelease: true
    - name: install android wasm-tools
      run: dotnet workload install android wasm-tools
    - name: Restore dependencies Mapsui.Linux
      run: dotnet restore Mapsui.Linux.slnf       
    # Samples Build     
    - name: Mapsui.Samples.Avalonia
      run: dotnet build --no-restore --configuration Debug Samples/Avalonia/Mapsui.Samples.Avalonia.Desktop/Mapsui.Samples.Avalonia.Desktop.csproj    
    - name: Build Mapsui.Samples.Droid
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Droid/Mapsui.Samples.Droid.csproj                       
    # Samples Forms    
    - name: Build Mapsui.Samples.Forms.Shared
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.Shared/Mapsui.Samples.Forms.Shared.csproj        
    # Samples Uno WinUI    
    - name: Mapsui.Samples.Uno.WinUI.Skia.Gtk
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Uno.WinUI/Mapsui.Samples.Uno.WinUI.Skia.Gtk/Mapsui.Samples.Uno.WinUI.Skia.Gtk.csproj    
    # Build Tests      
    # tests that depend on skia seem not work because of missing dependencies on linux.
    #- name: Build Mapsui.Rendering.Skia.Tests
    #  run: dotnet build --no-restore --configuration Debug Tests/Mapsui.Rendering.Skia.Tests/Mapsui.Rendering.Skia.Tests.csproj
    - name: Build Mapsui.Tests
      run: dotnet build --no-restore --configuration Debug Tests/Mapsui.Tests/Mapsui.Tests.csproj    
    # Run Tests   
    #- name: Run Mapsui.Rendering.Skia.Tests
    #  run: dotnet test Tests/Mapsui.Rendering.Skia.Tests/bin/Debug/net6.0/Mapsui.Rendering.Skia.Tests.dll    
    - name: Run Mapsui.Tests
      run: dotnet test Tests/Mapsui.Tests/bin/Debug/net6.0/Mapsui.Tests.dll
    # Release Build
    - name: Build Linux packages
      run: dotnet pack /p:RestorePackages=true /p:Configuration=Release /p:Version=$(git describe --tags) Mapsui.Linux.slnf --output Artifacts
    - name: Upload packages
      uses: actions/upload-artifact@v3
      with:
        name: nupkg.linux
        path: Artifacts/*.nupkg

  macBuildLegacy:  
    # macos-latest is currently macos-13
    runs-on: macos-12
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    # Cache Nugets
    - uses: actions/cache@v3
      with:
        path: ~/.nuget/packages     
        key: ${{ runner.os }}-nuget15-${{ hashFiles('Directory.Packages.props') }}
        restore-keys: |
            ${{ runner.os }}-nuget15-
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.1.1      
      with:
        nuget-version: latest
    # .Net 7 update     
    - name: Setup .NET 8 SDK
      uses: actions/setup-dotnet@v3
      with:
         dotnet-version: |
           8.0.x
         include-prerelease: true
    - name: Setup Xcode version 14.2
      uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '14.2'
    # macos image needs Visual Studio for Mac installed
    - name: Restore dependencies Legacy
      run: nuget restore Mapsui.Mac.Legacy.sln                          
    # Samples Forms    
    - name: Build Mapsui.Samples.Forms.Shared
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.Shared/Mapsui.Samples.Forms.Shared.csproj    
    - name: Build Mapsui.Samples.Forms.Android
      run: msbuild -p:RestorePackages=false -p:Configuration=Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.Android/Mapsui.Samples.Forms.Android.csproj     
    - name: Build Mapsui.Samples.Forms.iOS
      run: msbuild -p:RestorePackages=false -p:Configuration=Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.iOS/Mapsui.Samples.Forms.iOS.csproj         
    # Builds that need XCode 14.0
    # This works on Real Mac Devices but not on Github Actions, disable it for now (this is run on the Windows build)
    - name: Setup Xcode version 14.0
      uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '14.0'
    - name: Build Mapsui.Samples.Forms.Mac
      run: msbuild -p:RestorePackages=false -p:Configuration=Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.Mac/Mapsui.Samples.Forms.Mac.csproj        
    # Release Build
    - name: Build Mapsui.UI.Forms
      run: msbuild /t:Pack /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.Forms/Mapsui.UI.Forms.csproj /p:PackageOutputPath="../Artifacts" -p:PackageVersion=$(git describe --tags)
    - name: Upload packages
      uses: actions/upload-artifact@v3
      with:
        name: nupkg.mac
        path: Artifacts/*.nupkg   

  macBuild:  
    # macos-latest is currently macos-13
    runs-on: macos-13
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    # Cache Nugets
    - uses: actions/cache@v3
      with:
        path: ~/.nuget/packages     
        key: ${{ runner.os }}-nuget13-${{ hashFiles('Directory.Packages.props') }}
        restore-keys: |
            ${{ runner.os }}-nuget13-
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.1.1      
      with:
        nuget-version: latest
    - name: Setup Xcode version 15.0
      uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '15.0' 
    - name: Setup .NET 6 SDK
      uses: actions/setup-dotnet@v3
      with:
         dotnet-version: |
           6.0.x
         include-prerelease: false
    # .Net 7 update     
    - name: Setup .NET 8 SDK
      uses: actions/setup-dotnet@v3
      with:
         dotnet-version: |
           8.0.x
         include-prerelease: true
    - name: install maui macos android ios maccatalyst wasm-tools
      run: dotnet workload install maui macos android ios maccatalyst wasm-tools
    # macos image needs Visual Studio for Mac installed
    #- name: Restore dependencies Legacy
    #  run: nuget restore Mapsui.Mac.Legacy.sln   
    - name: Restore dependencies Mapsui.Mac
      run: dotnet restore Mapsui.Mac.slnf       
    # Samples Build               
    - name: Mapsui.Samples.Avalonia
      run: dotnet build --no-restore --configuration Debug Samples/Avalonia/Mapsui.Samples.Avalonia.Desktop/Mapsui.Samples.Avalonia.Desktop.csproj
    - name: Build Mapsui.Samples.Droid
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Droid/Mapsui.Samples.Droid.csproj                       
    # Samples Forms    
    - name: Build Mapsui.Samples.Forms.Shared
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.Shared/Mapsui.Samples.Forms.Shared.csproj    
    #- name: Build Mapsui.Samples.Forms.Android
    #  run: msbuild -p:RestorePackages=false -p:Configuration=Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.Android/Mapsui.Samples.Forms.Android.csproj     
    #- name: Build Mapsui.Samples.Forms.iOS
    #  run: msbuild -p:RestorePackages=false -p:Configuration=Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.iOS/Mapsui.Samples.Forms.iOS.csproj         
    - name: Build Mapsui.Samples.iOS
      run: dotnet build --no-restore --configuration Debug -r iossimulator-x64 --self-contained Samples/Mapsui.Samples.iOS/Mapsui.Samples.iOS.csproj
    # Samples Uno WinUI
    #- name: Mapsui.Samples.Uno.WinUI.Mobile
    #  run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Uno.WinUI/Mapsui.Samples.Uno.WinUI.Mobile/Mapsui.Samples.Uno.WinUI.Mobile.csproj
    #- name: Mapsui.Samples.Uno.WinUI.Skia.Gtk
    #  run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Uno.WinUI/Mapsui.Samples.Uno.WinUI.Skia.Gtk/Mapsui.Samples.Uno.WinUI.Skia.Gtk.csproj
    #- name: Mapsui.Samples.Uno.WinUI.Skia.Linux.FrameBuffer
    #  run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Uno.WinUI/Mapsui.Samples.Uno.WinUI.Skia.Linux.FrameBuffer/Mapsui.Samples.Uno.WinUI.Skia.Linux.FrameBuffer.csproj
    #- name: Mapsui.Samples.Uno.WinUI.Skia.WPF
    #  run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Uno.WinUI/Mapsui.Samples.Uno.WinUI.Skia.WPF/Mapsui.Samples.Uno.WinUI.Skia.WPF.csproj
    #- name: Mapsui.Samples.Uno.WinUI.Wasm
    #  run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Uno.WinUI/Mapsui.Samples.Uno.WinUI.Wasm/Mapsui.Samples.Uno.WinUI.Wasm.csproj
    #- name: Mapsui.Samples.Uno.WinUI.Windows
    #  run: dotnet build --no-restore --configuration Debug  /p:Platform=x64 Samples/Mapsui.Samples.Uno.WinUI/Mapsui.Samples.Uno.WinUI.Windows/Mapsui.Samples.Uno.WinUI.Windows.csproj
    # Builds that need XCode 14.0
    # This works on Real Mac Devices but not on Github Actions, disable it for now (this is run on the Windows build)
    #- name: Setup Xcode version 14.0
    #  uses: maxim-lobanov/setup-xcode@v1.6.0
    #  with:
    #    xcode-version: '14.0'
    #- name: Build Mapsui.Samples.Forms.Mac
    #  run: msbuild -p:RestorePackages=false -p:Configuration=Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.Mac/Mapsui.Samples.Forms.Mac.csproj        
    # Test Build    
    - name: Build Mapsui.Rendering.Skia.Tests
      run: dotnet build --no-restore --configuration Debug Tests/Mapsui.Rendering.Skia.Tests/Mapsui.Rendering.Skia.Tests.csproj
    - name: Build Mapsui.Tests
      run: dotnet build --no-restore --configuration Debug Tests/Mapsui.Tests/Mapsui.Tests.csproj    
    # Run Tests   
    - name: Run Mapsui.Rendering.Skia.Tests
      run: dotnet test Tests/Mapsui.Rendering.Skia.Tests/bin/Debug/net6.0/Mapsui.Rendering.Skia.Tests.dll    
    - name: Run Mapsui.Tests
      run: dotnet test Tests/Mapsui.Tests/bin/Debug/net6.0/Mapsui.Tests.dll
    # Release Build
    - name: Build Mapsui
      run: dotnet pack --no-restore --configuration Release Mapsui/Mapsui.csproj -o Artifacts -p:PackageVersion=$(git describe --tags)
    - name: Build Mapsui.Rendering.Skia
      run: dotnet pack --no-restore --configuration Release Mapsui.Rendering.Skia/Mapsui.Rendering.Skia.csproj -o Artifacts -p:PackageVersion=$(git describe --tags)
    - name: Build Mapsui.Tiling
      run: dotnet pack --no-restore --configuration Release Mapsui.Tiling/Mapsui.Tiling.csproj -o Artifacts -p:PackageVersion=$(git describe --tags)
    - name: Build Mapsui.Nts
      run: dotnet pack --no-restore --configuration Release Mapsui.Nts/Mapsui.Nts.csproj -o Artifacts -p:PackageVersion=$(git describe --tags)
    - name: Build Mapsui.ArcGIS
      run: dotnet pack --no-restore --configuration Release Mapsui.ArcGIS/Mapsui.ArcGIS.csproj -o Artifacts -p:PackageVersion=$(git describe --tags)
    - name: Build Mapsui.Extensions
      run: dotnet pack --no-restore --configuration Release Mapsui.Extensions/Mapsui.Extensions.csproj -o Artifacts -p:PackageVersion=$(git describe --tags)
    - name: Build Mapsui.UI.Android
      run: dotnet pack --no-restore --configuration Release Mapsui.UI.Android/Mapsui.UI.Android.csproj -o Artifacts -p:PackageVersion=$(git describe --tags)
    - name: Build Mapsui.UI.iOS
      run: dotnet pack --no-restore --configuration Release Mapsui.UI.iOS/Mapsui.UI.iOS.csproj -o Artifacts -p:PackageVersion=$(git describe --tags)
   # run: msbuild -p:RestorePackages=false -p:Configuration=Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.iOS/Mapsui.Samples.Forms.iOS.csproj   
   # - name: Build Mapsui.UI.Forms
   #   run: msbuild /t:Pack /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.Forms/Mapsui.UI.Forms.csproj /p:PackageOutputPath="../Artifacts" -p:PackageVersion=$(git describe --tags)
    - name: Upload packages
      uses: actions/upload-artifact@v3
      with:
        name: nupkg.mac
        path: Artifacts/*.nupkg     
  
  winBuild:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    # Cache Nugets
    - uses: actions/cache@v3
      with:
        path: |
          ~/.nuget/packages/Microsoft*
          ~/.nuget/packages/SkiaSharp* 
          ~/.nuget/packages/System*
          ~/.nuget/packages/Xamarin*
        key: ${{ runner.os }}-nuget15-${{ hashFiles('Directory.Packages.props') }}
        restore-keys: |
            ${{ runner.os }}-nuget15-
    # .Net 7 update     
    - name: Setup .NET 8 SDK
      uses: actions/setup-dotnet@v3
      with:
         dotnet-version: |
           8.0.x
         include-prerelease: true
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.1.1
      with:
        nuget-version: latest
    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v1.1
      with:
        vs-prerelease: true
    - name: install maui macos android ios maccatalyst wasm-tools
      run: Scripts/InstallDependencies.cmd
    #- name: uno-check install
    #  run: dotnet tool install -g uno.check
    #- name: uno-check fix
    #  run: uno-check --fix --non-interactive
    - name: Restore dependencies (nuget)
      run: nuget restore Mapsui.MsBuild.slnf      
    - name: Restore dependencies (dotnet)
      run: dotnet restore Mapsui.NoMsBuild.slnf  
    # Test Build
    - name: Mapsui.Nts.Tests
      run: dotnet build --no-restore --configuration Debug Tests/Mapsui.Nts.Tests/Mapsui.Nts.Tests.csproj
    - name: Mapsui.Rendering.Skia.Tests
      run: dotnet build --no-restore --configuration Debug Tests/Mapsui.Rendering.Skia.Tests/Mapsui.Rendering.Skia.Tests.csproj
    - name: Mapsui.Tests
      run: dotnet build --no-restore --configuration Debug Tests/Mapsui.Tests/Mapsui.Tests.csproj
    - name: Mapsui.UI.Forms.Tests
      run: dotnet build --no-restore --configuration Debug Mapsui.UI.Forms.Tests\Mapsui.UI.Forms.Tests.csproj
    # Test Run
    - name: Run Mapsui.Nts.Tests
      run: dotnet test Tests/Mapsui.Nts.Tests/bin/Debug/net6.0/Mapsui.Nts.Tests.dll
    - name: Run Mapsui.Rendering.Skia.Tests
      uses: nick-fields/retry@v2.8.3
      with:
        timeout_minutes: 10
        max_attempts: 3        
        command: dotnet test Tests/Mapsui.Rendering.Skia.Tests/bin/Debug/net6.0/Mapsui.Rendering.Skia.Tests.dll    
    - name: Run Mapsui.Tests
      run: dotnet test Tests/Mapsui.Tests/bin/Debug/net6.0/Mapsui.Tests.dll
    - name: Run Mapsui.UI.Forms.Tests
      run: dotnet test Mapsui.UI.Forms.Tests/bin/Debug/net6.0-windows10.0.19041.0/Mapsui.UI.Forms.Tests.dll
    # Release Build
    - name: Build nuget packages
      run: Scripts\buildpack $(git describe --tags)
    - name: Cleanup
      run: git clean -fx -d -e Artifacts
    # Change Project References to nuget package references in samples    
    - name: nuget ProjectReferences to PackageReferences
      shell: pwsh
      run: |
       ./Scripts/SamplesMapsuiNugetReferences.ps1 $(git describe --tags)       
    - name: Restore dependencies (dotnet)
      run: dotnet restore Mapsui.NoMsBuild.slnf  
    - name: Restore dependencies (nuget)
      run: nuget restore Mapsui.MsBuild.slnf   
    # Samples Build 
    - name: Mapsui.Samples.Avalonia
      run: dotnet build --no-restore --configuration Debug Samples/Avalonia/Mapsui.Samples.Avalonia.Desktop/Mapsui.Samples.Avalonia.Desktop.csproj
    - name: Mapsui.Samples.Blazor
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Blazor/Mapsui.Samples.Blazor.csproj
    - name: Mapsui.Samples.Droid
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Droid/Mapsui.Samples.Droid.csproj
    - name: Mapsui.Samples.Eto
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Eto/Mapsui.Samples.Eto.csproj
    - name: Mapsui.Samples.iOS
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.iOS/Mapsui.Samples.iOS.csproj
    - name: Mapsui.Samples.Maui
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Maui/Mapsui.Samples.Maui.csproj
    - name: Mapsui.Samples.Maui.MapView
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Maui.MapView/Mapsui.Samples.Maui.MapView.csproj
    - name: Mapsui.Samples.WinUI
      run: msbuild -p:RestorePackages=false -p:Configuration=Debug -p:Platform=x86 Samples\Mapsui.Samples.WinUI\Mapsui.Samples.WinUI\Mapsui.Samples.WinUI.csproj
    - name: Mapsui.Samples.Wpf
      run: dotnet build --no-restore --configuration Debug Samples/Mapsui.Samples.Wpf/Mapsui.Samples.Wpf.csproj  
    # Samples Forms
    - name: Mapsui.Samples.Forms.Android
      run: msbuild -p:RestorePackages=false -p:Configuration=Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.Android/Mapsui.Samples.Forms.Android.csproj
    - name: Mapsui.Samples.Forms.iOS
      run: msbuild -p:RestorePackages=false -p:Configuration=Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.iOS/Mapsui.Samples.Forms.iOS.csproj
    - name: Mapsui.Samples.Forms.Mac
      run: msbuild -p:RestorePackages=false -p:Configuration=Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.Mac/Mapsui.Samples.Forms.Mac.csproj
    - name: Mapsui.Samples.Forms.UWP
      run: msbuild -p:RestorePackages=false -p:Configuration=Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.UWP/Mapsui.Samples.Forms.UWP.csproj
    - name: Mapsui.Samples.Forms.WPF
      run: msbuild -p:RestorePackages=false -p:Configuration=Debug Samples/Mapsui.Samples.Forms/Mapsui.Samples.Forms.WPF/Mapsui.Samples.Forms.WPF.csproj
    # Samples Uno WinUI
    - name: Mapsui.Samples.Uno.WinUI.Mobile
      run: dotnet build --no-restore --configuration Debug Samples\Mapsui.Samples.Uno.WinUI\Mapsui.Samples.Uno.WinUI.Mobile\Mapsui.Samples.Uno.WinUI.Mobile.csproj
    - name: Mapsui.Samples.Uno.WinUI.Skia.Gtk
      run: dotnet build --no-restore --configuration Debug Samples\Mapsui.Samples.Uno.WinUI\Mapsui.Samples.Uno.WinUI.Skia.Gtk\Mapsui.Samples.Uno.WinUI.Skia.Gtk.csproj
    #- name: Mapsui.Samples.Uno.WinUI.Skia.Linux.FrameBuffer
    #  run: dotnet build --no-restore --configuration Debug Samples\Mapsui.Samples.Uno.WinUI\Mapsui.Samples.Uno.WinUI.Skia.Linux.FrameBuffer\Mapsui.Samples.Uno.WinUI.Skia.Linux.FrameBuffer.csproj
    #- name: Mapsui.Samples.Uno.WinUI.Skia.WPF
    #  run: dotnet build --no-restore --configuration Debug Samples\Mapsui.Samples.Uno.WinUI\Mapsui.Samples.Uno.WinUI.Skia.WPF\Mapsui.Samples.Uno.WinUI.Skia.WPF.csproj
    - name: Mapsui.Samples.Uno.WinUI.Wasm
      run: dotnet build --no-restore --configuration Debug Samples\Mapsui.Samples.Uno.WinUI\Mapsui.Samples.Uno.WinUI.Wasm\Mapsui.Samples.Uno.WinUI.Wasm.csproj
    - name: Mapsui.Samples.Uno.WinUI.Windows
      run: dotnet build --no-restore --configuration Debug /p:Platform=x64 Samples\Mapsui.Samples.Uno.WinUI\Mapsui.Samples.Uno.WinUI.Windows\Mapsui.Samples.Uno.WinUI.Windows.csproj
    # Publishing  
    - name: Upload packages
      uses: actions/upload-artifact@v3
      with:
        name: nupkg.win
        path: Artifacts/*.nupkg  
