name: ci/github-actions

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  macBuild:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.0.5      
      with:
        nuget-version: latest
    # - name: Set default Xamarin SDK versions
    #   run: |
    #     $VM_ASSETS/select-xamarin-sdk-v2.sh --mono=6.12 --ios=14.14 --android=11.1
    # - name: Set default Xcode 12.4
    #   run: |
    #     XCODE_ROOT=/Applications/Xcode_12.4.app
    #     echo "MD_APPLE_SDK_ROOT=$XCODE_ROOT" >> $GITHUB_ENV
    #     sudo xcode-select -s $XCODE_ROOT
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.8.2
      with:
         dotnet-version: '6.0.x'
         include-prerelease: true
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.8.2
      with:
         dotnet-version: '5.0.x'
         include-prerelease: true
    - name: install maui-check
      run: dotnet tool install -g Redth.Net.Maui.Check
    - name: Restore dependencies
      run: nuget restore Mapsui.Mac.sln
    - name: Build Mapsui
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui/Mapsui.csproj
    - name: Build Mapsui.Rendering.Skia
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.Rendering.Skia/Mapsui.Rendering.Skia.csproj
    - name: Build Mapsui.UI.Android
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.Android/Mapsui.UI.Android.csproj
    - name: Build Mapsui.UI.iOS
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.iOS/Mapsui.UI.iOS.csproj
    - name: Build Mapsui.UI.Forms
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.Forms/Mapsui.UI.Forms.csproj
    - name: Generate nuget package (Mapsui)
      run: nuget pack NuSpec/Mapsui.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Forms)
      run: nuget pack NuSpec/Mapsui.Forms.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Upload packages
      uses: actions/upload-artifact@v2
      with:
        name: nupkg.mac
        path: Artifacts/*.nupkg

  winBuild:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.8.2
      with:
         dotnet-version: '6.0.x'
         include-prerelease: true    
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.8.2
      with:
         dotnet-version: '5.0.x'
         include-prerelease: true
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.0.5
      with:
        nuget-version: latest
    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v1.1
      with:
        vs-prerelease: true
    - name: install maui-check
      run: dotnet tool install -g Redth.Net.Maui.Check
    - name: run maui-check
      run: maui-check --fix --non-interactive --skip vswin --skip edgewebview2 --skip androidemulator
    - name: Restore dependencies
      run: nuget restore Mapsui.sln
    - name: Build Mapsui
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui/Mapsui.csproj
    - name: Build Mapsui.Rendering.Skia
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.Rendering.Skia/Mapsui.Rendering.Skia.csproj
    - name: Build Mapsui.UI.Wpf
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.Wpf/Mapsui.UI.Wpf.csproj
    - name: Build Mapsui.UI.Uwp
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.Uwp/Mapsui.UI.Uwp.csproj
    - name: Build Mapsui.UI.Android
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.Android/Mapsui.UI.Android.csproj
    - name: Build Mapsui.UI.iOS
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.iOS/Mapsui.UI.iOS.csproj
    - name: Build Mapsui.UI.Forms
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.Forms/Mapsui.UI.Forms.csproj    
    - name: Build Mapsui.UI.Avalonia
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.Avalonia/Mapsui.UI.Avalonia.csproj
    - name: Build Mapsui.UI.Uno
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.Uno/Mapsui.UI.Uno.csproj
    - name: Build Mapsui.UI.WinUI
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.WinUI/Mapsui.UI.WinUI.csproj
    - name: Generate nuget package (Mapsui)
      run: nuget pack NuSpec/Mapsui.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Forms)
      run: nuget pack NuSpec/Mapsui.Forms.nuspec -Version $(git describe --tags) -outputdirectory Artifacts    
    - name: Generate nuget package (Mapsui.Wpf)
      run: nuget pack NuSpec/Mapsui.Wpf.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Uwp)
      run: nuget pack NuSpec/Mapsui.Uwp.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Android)
      run: nuget pack NuSpec/Mapsui.Android.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Avalonia)
      run: nuget pack NuSpec/Mapsui.Avalonia.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Uno)
      run: nuget pack NuSpec/Mapsui.Uno.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.WinUI)
      run: nuget pack NuSpec/Mapsui.WinUI.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Upload packages
      uses: actions/upload-artifact@v2
      with:
        name: nupkg.win
        path: Artifacts/*.nupkg  

  mauiBuild:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.8.2
      with:
         dotnet-version: '6.0.x'
         include-prerelease: true    
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.8.2
      with:
         dotnet-version: '5.0.x'
         include-prerelease: true
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.0.5
      with:
        nuget-version: latest
    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v1.1
      with:
        vs-prerelease: true
    - name: install maui-check
      run: dotnet tool install -g Redth.Net.Maui.Check
    - name: run maui-check
      run: maui-check --fix --non-interactive --skip vswin --skip edgewebview2 --skip androidemulator
    - name: Restore dependencies
      run: nuget restore Mapsui.Maui.sln
    - name: Build Mapsui
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui/Mapsui.csproj
    - name: Build Mapsui.Rendering.Skia
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.Rendering.Skia/Mapsui.Rendering.Skia.csproj    
    - name: Build Mapsui.UI.Maui
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.Maui/Mapsui.UI.Maui.csproj    
    - name: Generate nuget package (Mapsui.Maui)
      run: nuget pack NuSpec/Mapsui.Maui.nuspec -Version $(git describe --tags) -outputdirectory Artifacts    
    - name: Upload packages
      uses: actions/upload-artifact@v2
      with:
        name: nupkg.win
        path: Artifacts/*.nupkg  