name: ci/github-actions

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  macBuild:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    # Cache Nugets
    - uses: actions/cache@v3
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget4-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
            ${{ runner.os }}-nuget4-
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.0.6      
      with:
        nuget-version: latest
    # - name: Set default Xamarin SDK versions
    #   run: |
    #     $VM_ASSETS/select-xamarin-sdk-v2.sh --mono=6.12 --ios=14.14 --android=11.1
    # - name: Set default Xcode 12.4
    #   run: |
    #     XCODE_ROOT=/Applications/Xcode_12.4.app
    #     echo "MD_APPLE_SDK_ROOT=$XCODE_ROOT" >> $GITHUB_ENV
    #     sudo xcode-select -s $XCODE_ROOT
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v2
      with:
         dotnet-version: |
           6.0.300
         include-prerelease: true    
    - name: install maui macos android ios maccatalyst
      run: dotnet workload install maui macos android ios maccatalyst
    - name: Restore dependencies
      run: dotnet restore Mapsui.Mac.sln
    - name: Build Mapsui
      run: dotnet build --no-restore --configuration Release Mapsui/Mapsui.csproj
    - name: Build Mapsui.Rendering.Skia
      run: dotnet build --no-restore --configuration Release Mapsui.Rendering.Skia/Mapsui.Rendering.Skia.csproj
    - name: Build Mapsui.Tiling
      run: dotnet build --no-restore --configuration Release Mapsui.Tiling/Mapsui.Tiling.csproj
    - name: Build Mapsui.Nts
      run: dotnet build --no-restore --configuration Release Mapsui.Nts/Mapsui.Nts.csproj
    - name: Build Mapsui.ArcGIS
      run: dotnet build --no-restore --configuration Release Mapsui.ArcGIS/Mapsui.ArcGIS.csproj
    - name: Build Mapsui.Extensions
      run: dotnet build --no-restore --configuration Release Mapsui.Extensions/Mapsui.Extensions.csproj
    - name: Build Mapsui.UI.Android
      run: dotnet build --no-restore --configuration Release Mapsui.UI.Android/Mapsui.UI.Android.csproj
    - name: Build Mapsui.UI.iOS
      run: dotnet build --no-restore --configuration Release Mapsui.UI.iOS/Mapsui.UI.iOS.csproj
    - name: Build Mapsui.UI.Forms
      run: dotnet build --no-restore --configuration Release Mapsui.UI.Forms/Mapsui.UI.Forms.csproj
    - name: Generate nuget package (Mapsui)
      run: nuget pack NuSpec/Mapsui.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.ArcGis)
      run: nuget pack NuSpec/Mapsui.ArcGis.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Extensions)
      run: nuget pack NuSpec/Mapsui.Extensions.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Forms)
      run: nuget pack NuSpec/Mapsui.Forms.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Android)
      run: nuget pack NuSpec/Mapsui.Android.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.iOS)
      run: nuget pack NuSpec/Mapsui.iOS.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Upload packages
      uses: actions/upload-artifact@v2
      with:
        name: nupkg.mac
        path: Artifacts/*.nupkg

  winBuild:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    # Cache Nugets
    - uses: actions/cache@v3
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget4-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
            ${{ runner.os }}-nuget4-
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v2
      with:
         dotnet-version: |
           6.0.300
         include-prerelease: true
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@v1.0.6
      with:
        nuget-version: latest
    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v1.1
      with:
        vs-prerelease: true
    - name: install maui macos android ios maccatalyst
      run: dotnet workload install maui macos android ios maccatalyst
    - name: Restore dependencies
      run: nuget restore Mapsui.sln
    - name: Build Mapsui
      run: dotnet build --no-restore --configuration Release Mapsui/Mapsui.csproj
    - name: Build Mapsui.Rendering.Skia
      run: dotnet build --no-restore --configuration Release Mapsui.Rendering.Skia/Mapsui.Rendering.Skia.csproj
    - name: Build Mapsui.Tiling
      run: dotnet build --no-restore --configuration Release Mapsui.Tiling/Mapsui.Tiling.csproj
    - name: Build Mapsui.Nts
      run: dotnet build --no-restore --configuration Release Mapsui.Nts/Mapsui.Nts.csproj
    - name: Build Mapsui.ArcGIS
      run: dotnet build --no-restore --configuration Release Mapsui.ArcGIS/Mapsui.ArcGIS.csproj
    - name: Build Mapsui.Extensions
      run: dotnet build --no-restore --configuration Release Mapsui.Extensions/Mapsui.Extensions.csproj
    - name: Build Mapsui.UI.Wpf
      run: dotnet build --no-restore --configuration Release Mapsui.UI.Wpf/Mapsui.UI.Wpf.csproj
    - name: Build Mapsui.UI.Android
      run: dotnet build --no-restore --configuration Release Mapsui.UI.Android/Mapsui.UI.Android.csproj
    - name: Build Mapsui.UI.iOS
      run: dotnet build --no-restore --configuration Release Mapsui.UI.iOS/Mapsui.UI.iOS.csproj
    - name: Build Mapsui.UI.Forms
      run: dotnet build --no-restore --configuration Release Mapsui.UI.Forms/Mapsui.UI.Forms.csproj    
    - name: Build Mapsui.UI.Avalonia
      run: dotnet build --no-restore --configuration Release Mapsui.UI.Avalonia/Mapsui.UI.Avalonia.csproj
    - name: Build Mapsui.UI.Uno
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.Uno/Mapsui.UI.Uno.csproj
    - name: Build Mapsui.UI.WinUI
      run: msbuild /p:RestorePackages=false /p:Configuration=Release Mapsui.UI.WinUI/Mapsui.UI.WinUI.csproj
    - name: Build Mapsui.UI.Maui
      run: dotnet build --no-restore --configuration Release Mapsui.UI.Maui/Mapsui.UI.Maui.csproj 
    - name: Build Mapsui.UI.Eto
      run: dotnet build --no-restore --configuration Release Mapsui.UI.Eto/Mapsui.UI.Eto.csproj        
    - name: Generate nuget package (Mapsui)
      run: nuget pack NuSpec/Mapsui.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.ArcGis)
      run: nuget pack NuSpec/Mapsui.ArcGis.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Extensions)
      run: nuget pack NuSpec/Mapsui.Extensions.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Forms)
      run: nuget pack NuSpec/Mapsui.Forms.nuspec -Version $(git describe --tags) -outputdirectory Artifacts    
    - name: Generate nuget package (Mapsui.Wpf)
      run: nuget pack NuSpec/Mapsui.Wpf.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Android)
      run: nuget pack NuSpec/Mapsui.Android.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.iOS)
      run: nuget pack NuSpec/Mapsui.iOS.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Avalonia)
      run: nuget pack NuSpec/Mapsui.Avalonia.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Uno)
      run: nuget pack NuSpec/Mapsui.Uno.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.WinUI)
      run: nuget pack NuSpec/Mapsui.WinUI.nuspec -Version $(git describe --tags) -outputdirectory Artifacts
    - name: Generate nuget package (Mapsui.Maui)
      run: nuget pack NuSpec/Mapsui.Maui.nuspec -Version $(git describe --tags) -outputdirectory Artifacts    
    - name: Generate nuget package (Mapsui.Eto)
      run: nuget pack NuSpec/Mapsui.Eto.nuspec -Version $(git describe --tags) -outputdirectory Artifacts    
    - name: Upload packages
      uses: actions/upload-artifact@v2
      with:
        name: nupkg.win
        path: Artifacts/*.nupkg  
