name: Build Website

on:
  push:
    branches:  
      - main
      - feature/docs
      
permissions:
  contents: write
  # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
  pages: write      # to deploy to Pages
  id-token: write   # to verify the deployment originates from an appropriate source

jobs:
  build-and-publish-website:
    runs-on: windows-latest
    steps:
        
#Begin install mkdocs        
    - uses: actions/setup-python@v5
      with:
        python-version: 3.x
    - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
    - uses: actions/cache@v4
      with:
        key: mkdocs-material-${{ env.cache_id }}
        path: .cache
        restore-keys: |
          mkdocs-material-
    - run: |
        pip install mkdocs-material 
        pip install mkdocs-glightbox
#End install mkdocs        

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0         
        filter: tree:0 
    - name: Setup .NET 9 SDK
      uses: actions/setup-dotnet@v4
      with:
         dotnet-version: |
           9.0.203
           8.0.407
    - name: install workloads
      run: dotnet workload install maui macos android ios maccatalyst wasm-tools wasm-tools-net8 
    - name: Run DocFx
      shell: pwsh
      run: ./Scripts/BuildDocumentationWebSite.ps1
      # build blazor samples to website/samples/
    - name: Build Blazor Website Sample
      shell: pwsh
      run: ./Scripts/BuildSamplesWebsite.ps1   
    - name: Checkout gh-pages branch
      uses: actions/checkout@v4
      with:
        ref: gh-pages
        path: gh-pages
    - name: Clean old v5 content
      run: |
        rm -rf gh-pages/v5
    - name: Commit and push deletion
      shell: bash
      run: |
        cd gh-pages
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add -A
        git commit -m "Clean v5 folder before redeploy" || echo "Nothing to commit"
        git push
    - name: Upload artifact
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./website
        destination_dir: v5
        keep_files: true
